/* BASE */

body {
  background-color: #f5f5f5;
  font-family: 'Martel Sans', sans-serif;
}

h1 {
  font-family: 'Martel', serif;
  font-weight: 800;
}

h2 {
  font-family: 'Martel', serif;
  font-weight: 700;
}

h3 {
  font-family: 'Martel', serif;
  font-weight: 600;
}

a {
  color: #004040;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #004040bf;
  text-decoration: none;
}

/* HEADER */
/* ---------------------------------------- */

/* Navigation */

.navbar {
  background-color: #004040;
}

.dropdown-menu {
  background-color: #f5f5f5;
}

.nav-item ul.dropdown-menu li:first-of-type .dropdown-item {
  /* first link in nav dropdown menu */
  font-weight: 600;
}

/* Breadcrumb */

.nav-breadcrumb {
  margin: 1rem;
  --bs-breadcrumb-divider: '>';
}

.breadcrumb-item.active {
  color: #004040;
  font-weight: 600;
}

/* ---------------------------------------- */

/* MAIN */
/* ---------------------------------------- */

hr {
  border-top: 2px solid #dbad6a;
  opacity: 0.8;
}

/* ---------------------------------------- */

/* FOOTER */
/* ---------------------------------------- */

footer {
  background-color: #004040;
}

/* ---------------------------------------- */

/* FONTS */

.martel-extralight {
  font-family: 'Martel', serif;
  font-weight: 200;
  font-style: normal;
}

.martel-light {
  font-family: 'Martel', serif;
  font-weight: 300;
  font-style: normal;
}

.martel-regular {
  font-family: 'Martel', serif;
  font-weight: 400;
  font-style: normal;
}

.martel-semibold {
  font-family: 'Martel', serif;
  font-weight: 600;
  font-style: normal;
}

.martel-bold {
  font-family: 'Martel', serif;
  font-weight: 700;
  font-style: normal;
}

.martel-extrabold {
  font-family: 'Martel', serif;
  font-weight: 800;
  font-style: normal;
}

.martel-black {
  font-family: 'Martel', serif;
  font-weight: 900;
  font-style: normal;
}

.martel-sans-extralight {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.martel-sans-light {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.martel-sans-regular {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.martel-sans-semibold {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.martel-sans-bold {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.martel-sans-extrabold {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.martel-sans-black {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 900;
  font-style: normal;
}
